.tablon-de-anuncios-articulo {
    width: 200px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.tablon-de-anuncios-articulo:hover {
    background-color: aqua;
}

.tablon-de-anuncios-ficha {
    width: 200px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.tablon-de-anuncios-ficha:hover {
    background-color: rgb(21, 216, 4);
}

.articulo {
    width: 560px;
}

.ficha {
    width: 560px;
}